@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #38383891;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 60px;
    background: #111418b6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.801);
}
.logo {
    font-size: 55px;
    text-decoration: none;
    font-weight: 1000;
    transition: 0.5s;
    letter-spacing: 5px;
    line-height: 55px;
    color: rgb(0, 225, 255);
    transition: .3s;
}
nav{
    float: right;
}
nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;
    padding: 3px 16px;
    border-radius: 5px;
    border:rgb(102, 102, 102) solid 2px;
    letter-spacing: .5px;
}
nav a i{
    margin-right: 5px;
    font-size: 15px;
}
.logo:hover{
    
    color: rgba(255, 255, 255, 0.89);
    -webkit-text-stroke: 1px #5ffaffd2;
    text-shadow: 0 0px 20px rgb(0, 255, 242);
}
nav a:hover{
    color: rgb(255, 255, 255);
    background: rgba(190, 190, 190, 0.39);
    border: rgb(255, 255, 255) solid 2px;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 50px 50px 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
}
.card{
    width: 350px;
    height: 350px;
    padding: 2rem 1rem;
    background: none;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
    margin: 10px 0 10px 10px;
    border-radius: 10px;
    border: 3px solid #ffffff33;
}
.card:hover{
    transform: translateY(-10px);
}
.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(0, 45, 53), rgba(0, 0, 0, 0));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    border-radius: 10px;
}
.card:hover::before{
    opacity: 1;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}
.card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.card .info h1{
    margin-bottom: 10px;
    font-size: 18px;
    text-shadow: 0px 7px 10px rgba(0,0,0,0.4);
}
.card .info a i{
    margin-left: 3px;
}
.card .info .btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 10px;
}
.card .info .btn:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.2);
}
.card .info .btn:hover{
        background: rgb(29, 255, 255);
        transition: .5s ease-in-out;
}

@media (max-width:858px){
    .card{
        width: 300px;
        height: 300px;
    }
    .card .info{
        opacity: 1;
        transform: translateY(0px);
    }
    .card .info h1{
        font-size: 15px;
    }
    .card .info .btn{
        padding: 0.3rem .8rem;
    }
    .card:hover{
        transform: translateY(00px);
    }
    .card:hover::before{
        opacity: 0;
    }
}
@media (max-width:700px){
    header{
        padding: 13px 20px;
    }
    .logo{
        font-size: 32px;
    }
}

@media (max-width: 428px){
    header{
        height: 80px;
        padding: 13px 10px;
    }
    .logo{
        font-size: 35px;
    }
    .card{
        width: 300px;
        height: 300px;
    }
    .card .info{
        opacity: 1;
        transform: translateY(0px);
    }
    .card .info h1{
        font-size: 15px;
    }
    .card .info .btn{
        padding: 0.3rem .8rem;
    }
    .card:hover{
        transform: translateY(00px);
    }
    .card:hover::before{
        opacity: 0;
    }
}
@media (max-width: 301px){
    header{
        padding: 13px 10px;
    }
    .logo{
        font-size: 20px;
    }
    nav a{
        font-size: 15px;
    }
    .card{
        width: 230px;
        height: 230px;
    }
    .wrapper{
        margin: 85px 20px 50px;
    }
}
